body {
  word-wrap: break-word;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}
h1 {
  color: rgb(121, 109, 217);
  background-color: wheat;
  text-align: center;
}
a:link {
  color: #0563c1;
}
a:visited {
  color: #954f72;
}
p {
  max-width: 900px;
  text-align: justify;
  text-indent: 2em;
  line-height: 175%;
  margin: auto;
}
article h1 {
  color: black;
  background: transparent;
}
article h2 {
  margin: auto;
  width: fit-content;
}
a[aria-describedby="footnote-label"] {
  vertical-align: super;
  font-size: 0.75em;
  margin-left: 2px;
}
footer {
  max-width: 900px;
  margin: auto;
}
footer :target {
  background: yellow;
}
[aria-label="Back to content"] {
  font-size: 0.8em;
}
